.pagination .mdl-button--raised{
    background: #4caf50 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=date]:focus + label,
.input-field input[type=tel]:focus + label,
.input-field textarea.materialize-textarea:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #4caf50   !important;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=number]:focus,
.input-field input[type=date]:focus,
.input-field input[type=tel]:focus,
.input-field textarea.materialize-textarea:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #4caf50   !important;
    box-shadow: 0 1px 0 0 #4caf50   !important;
}